<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // console.log("hello world")

// const vehicleOne={
//     brand:"ford",
//     model:"mustang",
//     type:"car",
//     year:2020,
//     color:"pink"
// }









const { brand, model, type, year, color, specs: { engine, horsepower } } = vehicleOne;
console.log(brand); 
console.log(model); 
console.log(type); 
console.log(year); 
console.log(color); 
console.log(engine); 
console.log(horsepower); 










// console.log(vehicleOne)

        // function MyVehicle(vehicle){
        //     const{type,color,brand,model,year}=vehicle;
            // console.log(vehicle.color);
            // console.log(vehicle.type);
            // console.log(vehicle.model);
        //     const{type,color,brand,model} = vehicle;

        //     const msg='My'+type+"is a"+color+' '+brand+' '+model+ '. ';
        //     console.log(msg);
        // }
        // console.log(vehicleOne)

















        
        // const vehicle=["mehran",'122','123'];

        // console.log(vehicle)
        // const [car,suzuki]=vehicle;
        // console.log({car})
        // console.log("car",car)
        // console.log({suzuki})

        // let Car="mehran";
        // console.log("Car:",Car)

        console.log({Car})
    </script>
</body>
</html>